/* default/mobile view */
#main-grid {
  display: grid;
  margin: 0 auto;
  width: 480px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 75px 150px 125px 125px 250px 250px 250px 250px 80px;
}

#header {
  grid-area: 1 / 1 / 2 / 2;
}

#aside {
  grid-area: 2 / 1 / 3 / 2;
}

#section-c {
  grid-area: 3 / 1 / 4 / 2;
}

#section-d {
  grid-area: 4 / 1 / 5 / 2;
}

#article-e {
  grid-area: 5 / 1 / 6 / 2;
}

#article-f {
  grid-area: 6 / 1 / 7 / 2;
}

#article-g {
  grid-area: 7 / 1 / 8 / 2;
}

#article-h {
  grid-area: 8 / 1 / 9 / 2;
}

#footer {
  grid-area: 9 / 1 / 10 / 2;
}

/* tablet view */
@media all and (min-width: 481px){

  #main-grid {
    display: grid;
    margin: 0 auto;
    width: 959px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80px 175px 150px 150px 250px 250px 125px;
  }
  
  #header {
    grid-area: 1 / 1 / 2 / 3;
  }
  
  #aside {
    grid-area: 2 / 1 / 3 / 3;
  }
  
  #section-c {
    grid-area: 3 / 1 / 4 / 3;
  }
  
  #section-d {
    grid-area: 4 / 1 / 5 / 3;
  }
  
  #article-e {
    grid-area: 5 / 1 / 6 / 2;
  }
  
  #article-f {
    grid-area: 5 / 2 / 6 / 3;
  }
  
  #article-g {
    grid-area: 6 / 1 / 7 / 2;
  }
  
  #article-h {
    grid-area: 6 / 2 / 7 / 3;
  }
  
  #footer {
    grid-area: 7 / 1 / 8 / 3;
  }

/* desktop view */
 @media all and (min-width: 960px) {

  #main-grid {
    display: grid;
    margin: 0 auto;
    width: 960px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px 200px 250px 150px;
  }
  
  #header {
    grid-area: 1 / 1 / 2 / 6;
  }

  #aside {
    grid-area: 2 / 1 / 5 / 2;
  }

  #section-c {
    grid-area: 2 / 2 / 3 / 4;
  }

  #section-d {
    grid-area: 2 / 4 / 3 / 6;
}

  #article-e {
    grid-area: 3 / 2 / 4 / 3;
  }

  #article-f {
    grid-area: 3 / 3 / 4 / 4;
  }

  #article-g {
    grid-area: 3 / 4 / 4 / 5;
  }

  #article-h {
    grid-area: 3 / 5 / 4 / 6;
  }

  #footer {
    grid-area: 4 / 2 / 5 / 6;
  }
}