/* default/mobile view */
header, aside, section, article, footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header {
  background-color: #B0DFE5;
}

#aside {
  background-color: #95C8D8;
}

#section-c {
  background-color: #89CFF0;
  ;
}

#section-d {
  background-color: #57A0D3;
}

#article-e {
  background-color: #73C2FB;
}

#article-f {
  background-color: #6593F5;
}

#article-g {
  background-color: #0080FF;
}

#article-h {
  background-color: #000080;
}

#footer {
  background-color: #111E6C;
}

/* tablet view */
@media all and (min-width: 481px){
  header, aside, section, article, footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #header {
    background-color: #DCDCDC;
  }
  
  #aside {
    background-color: #D3D3D3;
  }
  
  #section-c {
    background-color: #C0C0C0;
  }
  
  #section-d {
    background-color: #A9A9A9;
  }
  
  #article-e {
    background-color: #808080;
  }
  
  #article-f {
    background-color: #696969;
  }
  
  #article-g {
    background-color: #778899;
  }
  
  #article-h {
    background-color: #708090;
  }
  
  #footer {
    background-color: #2F4F4F;
  }
}

/* desktop view */
@media all and (min-width: 960px) {

  header, aside, section, article, footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #header {
    background-color: hsla(0, 60%, 50%, 0.9);
  }
  
  #aside {
    background-color: hsla(23, 60%, 50%, 0.9);
  }
  
  #section-c {
    background-color: hsla(51, 60%, 50%, 0.9);
  }
  
  #section-d {
    background-color: hsla(85, 60%, 50%, 0.9);
  }
  
  #article-e {
    background-color: hsla(117, 60%, 50%, 0.9);
  }
  
  #article-f {
    background-color: hsla(161, 60%, 50%, 0.9);
  }
  
  #article-g {
    background-color: hsla(213, 60%, 50%, 0.9);
  }
  
  #article-h {
    background-color: hsla(259, 60%, 50%, 0.9);
  }
  
  #footer {
    background-color: hsla(321, 60%, 50%, 0.9);
  }
}